<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <setting name="TagBaseRecommender.SearchField" value="_content" />
      <setting name="TagBaseRecommender.SearchTemplate" value="" />
      <setting name="TagBaseRecommender.StoredItemCount" value="20" />
      <setting name="TagBaseRecommender.BoostMultiplicand" value="1" />
      <setting name="TagBaseRecommender.Cookie.Name" value="tagbaserec_items" />
      <setting name="TagBaseRecommender.Cookie.Lifespan" value="30" />
      <setting name="TagBaseRecommender.Cookie.Domain" value="" />
      <setting name="TagBaseRecommender.Cookie.Path" value="/" />
      <setting name="TagBaseRecommender.Cookie.Secure" value="true" />
      <setting name="TagBaseRecommender.Cookie.HttpOnly" value="true" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="TagBaseRecommender.Pipelines.QueueItemForRecommendation, TagBaseRecommender" />
      </httpRequestBegin>
    </pipelines>
    <services>
      <register serviceType="TagBaseRecommender.Services.IItemTagsResolver, TagBaseRecommender"
                implementationType="TagBaseRecommender.Services.DefaultItemTagsResolver, TagBaseRecommender"
                lifetime="Transient"/>
      <register serviceType="TagBaseRecommender.Services.IRecommendationService, TagBaseRecommender"
                implementationType="TagBaseRecommender.Services.DefaultRecommendationService`1[[Sitecore.ContentSearch.SearchTypes.SearchResultItem, Sitecore.ContentSearch]], TagBaseRecommender"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>