<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <setting name="TagBasedRecommender.SearchField" value="_content" />
      <setting name="TagBasedRecommender.SearchTemplates" value="" />
      <setting name="TagBasedRecommender.StoredItemCount" value="20" />
      <setting name="TagBasedRecommender.BoostMultiplicand" value="1" />
      <setting name="TagBasedRecommender.FilterStoredItems" value="false" />
      <setting name="TagBasedRecommender.FilterContextItem" value="true" />
      <setting name="TagBasedRecommender.Cookie.Name" value="tagbaserec_items" />
      <setting name="TagBasedRecommender.Cookie.Lifespan" value="30" />
      <setting name="TagBasedRecommender.Cookie.Domain" value="" />
      <setting name="TagBasedRecommender.Cookie.Path" value="/" />
      <setting name="TagBasedRecommender.Cookie.Secure" value="true" />
      <setting name="TagBasedRecommender.Cookie.HttpOnly" value="true" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="TagBasedRecommender.Pipelines.QueueItemForRecommendation, TagBasedRecommender" />
      </httpRequestBegin>
    </pipelines>
    <services>
      <register serviceType="TagBasedRecommender.Services.IItemTagsResolver, TagBasedRecommender"
                implementationType="TagBasedRecommender.Services.DefaultItemTagsResolver, TagBasedRecommender"
                lifetime="Transient"/>
      <register serviceType="TagBasedRecommender.Services.IRecommendationService, TagBasedRecommender"
                implementationType="TagBasedRecommender.Services.DefaultRecommendationService`1[[Sitecore.ContentSearch.SearchTypes.SearchResultItem, Sitecore.ContentSearch]], TagBasedRecommender"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>